/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body, html {
	height: 100%;
	width: 100%;
}
body { /* General style rules for the body section */
	background-color:#4e6252;
	color: #3e4e42;
	text-align: center;
}
h1 { /* Matches elements with h3 tag */
	color: #000000;
}

h2 { /* Matches elements with h3 tag */
	color: #000000;
}

h3 { /* Matches elements with h3 tag */
	color: #000000;
}

h4 { /* Matches elements with h3 tag */
	color: #5a6457;
}

h5 { /* Matches elements with h3 tag */
	color: #465945;
}

#div1 { /* Matches element with id=SimpleDiv */
	background-color: #808080;

	color: #5a6457;


	border-style: solid groove;
  border-width: 10px;
	border-color: #556b2f;
	margin: 9%;
	padding: 6px;
}
#div2 {
	background-color: #808080;
	border-style: solid groove;
  border-width: 4px;
	border-color: #4c6551;
	margin: 2%;
	padding: 6px;
	float: left;
	width: 35%;
}

#div3 {
	background-color: #808080;
	border-style: solid groove;
  border-width: 2px;
	border-color: #4c6551;
	margin: 1%;
	padding: 6px;
	float: right;
	width: 50%;
}

#div4 {
	background-color: #808080;
	border-style: solid groove;
  border-width: 8px;
	border-color: #464646;
	margin: 40%;
	padding: 20px;
	clear: both;
}
